section {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    border: green solid 3px;
    padding: 30px;
    border-radius: 90px;

}

section .name {
    flex: 0 0 100px;
}

.fruitTileWithProduct {
    background-color: lightgreen;
}